* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-left: 90px;
    padding-right: 90px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(204, 200, 200, 0.707);
}

.cabeçalho {
    height: 13vh;
    background-image: linear-gradient(to right, #084426, #0b6337,#149b58);
    box-shadow: 1px 1px 8px rgb(30, 29, 29);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.space {
    display: inline-block;
    width: 40px;
}

.logo {
    padding-left: 50px;
}

.logo img {
    width: 130px;
}

.menu-list {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.menu-list a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.menu-list a:hover {
    color: white;
    padding: 2px;
}

.mobile-menu div {
    width: 34px;
    height: 4px;
    background-color: #fff;
    margin: 8px;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.img-home {
    background-image: url(/Projeto_pessoal/img_pessoal/backgroundimg.png);
    height: 87vh;
    background-position: bottom right;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-home h3 {
    color: white;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    /* background-color: #084426; */
    text-shadow: 2px 3px 10px #0b6337;
    /* border-bottom: 2px solid white; */
    letter-spacing: 3px;
    line-height: 1.8;
    margin-left: 20px;
    animation-duration: 3s;
    animation-name: slidein;
    /* opacity: 60%; */
}
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
  
.quem-somos {
    margin: 30px;
    /* border: 1px black solid; */
}

.quem-somos h3 {
    font-size: 36px;
    display: flex;
    justify-content: center;
} 

.contanier-qs {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video iframe {
    width: 500px;
    height: 300px;
    margin: 10px;
    float: left;
}

.texto-qs {
    margin: 10px;
    text-align: justify;
    float: right;
}

.destaques {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.destaques h3 {
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    align-items: center;
    /* color: white; */
}

.mundial-madrid h4 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    /* color: #fff; */
}

.mundial-madrid p {
    margin: 10px 100px;
    text-align: justify;
    /* color: #fff; */
}

/* inicio slider */

.slider {
    margin: 30px auto;
    width: 600px;
    height: 300px;
    overflow: hidden;
    align-items: center;
}

.slides {
    width: 400%;
    height: 300px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 600px;
}

.manual-navigation {
    position: absolute;
    width: 600px;
    margin-top: -2%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 600px;
    margin-top: 270px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

/* fim slider */

@media only screen and (max-width: 1240px) {
    .contanier-qs {
        display: block;
    }
    .video {
        display: flex;
        justify-content: center;
    }

    main {
        padding: 0;
    }
}

@media only screen and (max-width: 999px) {

    body {
        overflow-x: hidden;
    }

    .menu {
        position: absolute;
        top: 13vh;
        right: 0;
        width: 30vw;
        height: 87vh;
        /* background-image: linear-gradient(to bottom, #006d37, #20af67,#22a362); */
        /* background-color: #20af67; */
        background-image: linear-gradient(to top, #084426, #0b6337,#149b58);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        text-align: center;
    }

    .mobile-menu {
        display: block;
    }
}

.menu.active {
    transform: translateX(0);
}
